<div class='container'>
    <h1 class="font-title">Autores</h1>
    <table mat-table [dataSource]='authors' class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="font-table-header">Nombre</th>
            <td mat-cell *matCellDef="let author" class="font-table-row"> {{author.name}} </td>
        </ng-container>
        <ng-container matColumnDef="birth">
            <th mat-header-cell *matHeaderCellDef class="font-table-header">Nacimiento</th>
            <td mat-cell *matCellDef="let author" class="font-table-row"> {{author.birth}} </td>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab class="button" (click)="showModal('')" matTooltip="Crear" class="background-button-add">
                    <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let author">
                <button mat-mini-fab color="primary" class="button" (click)="showModal(author.id)" *ngIf='author.active'
                    matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" class="button" (click)="disableAuthor(author.id)" *ngIf='author.active'
                    matTooltip="Deshabilitar">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-mini-fab color="success" class="button" (click)="enableAuthor(author.id)" *ngIf='!author.active'
                    matTooltip="Habilitar">
                    <mat-icon>check</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='columns'></tr>
        <tr mat-row *matRowDef='let row; columns: columns' [ngClass]='{ "background-enabled": row.active }'></tr>
    </table>
</div>