@import '../assets/global';

.container {
    padding: 25px;
}

.font-title {
    font-size: $font-size-main - 2;
}

.font-table-header {
    font-size: $font-size-main - 4;
}

.font-table-row {
    font-size: $font-size-main - 6.5;
}

.button {
    margin: 5px 5px 5px 0;
}

.background-enabled {
    background-color: $color-sub-on;
}

.background-button-add {
    background-color: $color-on;
}